- name: Create Prometheus directory
  file:
    path: /opt/prometheus
    state: directory

- name: Copy Prometheus config
  template:
    src: prometheus.yml.j2
    dest: /opt/prometheus/prometheus.yml

- name: Start Prometheus container
  docker_container:
    name: prometheus
    image: prom/prometheus
    restart_policy: always
    ports:
      - "9090:9090"
    volumes:
      - /opt/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

- name: Start Node Exporter
  docker_container:
    name: node-exporter
    image: prom/node-exporter
    restart_policy: always
    ports:
      - "9100:9100"

- name: Start Grafana
  docker_container:
    name: grafana
    image: grafana/grafana
    restart_policy: always
    ports:
      - "3000:3000"
    env:
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password }}"