- name: Update all packages
  yum:
    name: "*"
    state: latest

- name: Install Docker
  yum:
    name: docker
    state: present

- name: Enable and start Docker
  systemd:
    name: docker
    state: started
    enabled: true

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: yes