global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
          - "localhost:9090"

  - job_name: "node"
    static_configs:
      - targets:
          - "node-exporter:9100"
        labels:
          group: "node"

  - job_name: "docker"
    static_configs:
      - targets:
          - "host.docker.internal:9323"
        labels:
          group: "docker"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

rule_files:
  - /etc/prometheus/rules/*.yml