- name: Install Nginx
  yum:
    name: nginx
    state: present

- name: Enable and start Nginx
  systemd:
    name: nginx
    state: started
    enabled: true

- name: Configure Backemd API
  template:
    src: deployverse.conf.j2
    dest: /etc/nginx/conf.d/deployverse.conf


- name: Configure Grafana
  template:
    src: grafana.conf.j2
    dest: /etc/nginx/conf.d/grafana.conf 
   


- name: Configure Prometheus
  template:
    src: prometheus.conf.j2
    dest: /etc/nginx/conf.d/prometheus.conf

- name: Test Nginx configuration
  command: nginx -t
  notify:
    - Reload Nginx

- name: Install Certbot
  yum:
    name:
      - certbot
      - python3-certbot-nginx
    state: present

- name: Wait for DNS propagation
  pause:
    seconds: 20

- name: Obtain SSL certificate with redirect
  command: >
    certbot --nginx -d {{ backend_domain_name }}
    --non-interactive --agree-tos -m {{ domain_mail }} --redirect

- name: Obtain SSL for Prometheus
  command: >
    certbot --nginx -d {{ prometheus_domain_name }}
    --non-interactive --agree-tos -m {{ domain_mail }} --redirect

- name: Obtain SSL for Grafana
  command: >
    certbot --nginx -d {{ grafana_domain_name }}
    --non-interactive --agree-tos -m {{ domain_mail }} --redirect