name: Build, Scan and Push Docker Images
permissions:
  contents: write
on:
  push:
    branches:
      - Dev
jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get Previous Commit
        id: prev-commit
        run: echo "PREV_COMMIT=$(git rev-parse HEAD^1)" >> $GITHUB_ENV
      - name: Detect Changed Files
        id: filter
        uses: dorny/paths-filter@v3
        with:
          base: ${{ env.PREV_COMMIT }}
          token: ${{ secrets.GITHUB_TOKEN }}
          filters: |
            backend:
              - 'Backend/**'
            frontend:
              - 'Frontend/**'

  build-scan-push-backend:
    needs: detect-changes
    if: needs.detect-changes.outputs.backend == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Backend Docker Image
        uses: docker/build-push-action@v5
        with:
          context: Backend
          file: Backend/Dockerfile
          push: true
          tags: |
            docker.io/${{ secrets.DOCKER_USERNAME }}/deployverse-backend:dev-${{ github.run_number }}
            docker.io/${{ secrets.DOCKER_USERNAME }}/deployverse-backend:dev-latest

      - name: Trivy Scan Backend Docker Image
        id: trivy-backend
        uses: aquasecurity/trivy-action@0.30.0
        continue-on-error: true
        with:
          image-ref: docker.io/${{ secrets.DOCKER_USERNAME }}/deployverse-backend:dev-${{ github.run_number }}
          format: table
          scanners: vuln,secret,misconfig
          severity: CRITICAL,HIGH
          exit-code: 1
          output: trivy-backend-results.txt

      - name: Upload Trivy Backend Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-backend-scan
          path: trivy-backend-results.txt

      - name: Fail job if vulnerabilities found
        if: steps.trivy-backend.outcome == 'failure'
        run: exit 1

  build-scan-push-frontend:
    needs: detect-changes
    if: needs.detect-changes.outputs.frontend == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Frontend Docker Image
        uses: docker/build-push-action@v5
        with:
          context: Frontend
          file: Frontend/Dockerfile
          push: true
          tags: |
            docker.io/${{ secrets.DOCKER_USERNAME }}/deployverse-frontend:dev-${{ github.run_number }}
            docker.io/${{ secrets.DOCKER_USERNAME }}/deployverse-frontend:dev-latest

      - name: Trivy Scan Frontend Docker Image
        id: trivy-frontend
        uses: aquasecurity/trivy-action@0.30.0
        continue-on-error: true
        with:
          image-ref: docker.io/${{ secrets.DOCKER_USERNAME }}/deployverse-frontend:dev-${{ github.run_number }}
          format: table
          scanners: vuln,secret,misconfig
          severity: CRITICAL,HIGH
          exit-code: 1
          output: trivy-frontend-results.txt

      - name: Upload Trivy Frontend Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-frontend-scan
          path: trivy-frontend-results.txt

      - name: Fail job if vulnerabilities found
        if: steps.trivy-frontend.outcome == 'failure'
        run: exit 1